name: PR Validation

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    # only applies to PRs that want to merge to main.
    branches: [main]

jobs:
  pr-validation:
    uses: salesforcecli/github-workflows/.github/workflows/validatePR.yml@main
